body {
  margin: 0;
  padding: 0;
 }

 #root {
  height: 100vh;
 }

 .App{
  color: #228b22;
  text-align: center;
  height: 100%;
 }

 nav {
  height: 45px;
  background-color: #1F2937;
  padding: 6px 24px;
 }

 nav img {
  height: 100%;
  border-radius: 5px;
 }
 .index {
  background-image: url(/public/pexels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: 50% 60% ;
 }

 .footer {
  background-color: green;
  border-top:2px solid red;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
 }

 #show-page {
  background-image: url(/src/Assets/dancing.jpeg);
  background-size: cover;
  height: 100%;
  color: black;
 }

 .show-data {
  background-color: rgba(211, 211, 211, .4);
 }

 input.form-control {
  width: 73%;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 5px;
 }