* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

#root {
  height: 100vh;
}

.App {
  color: #228b22;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  display: flex;
  height: 45px;
  background-color: #1F2937;
  padding: 6px 24px;
  position: sticky;
  top: 0;
}

nav a h2 {
  color: #eee;
  font-size: 17px;
  align-self: center;
  margin: 0;
}

nav img {
  margin-right: 10px;
  height: 100%;
  border-radius: 5px;
}

.index {
  background-image: url(/public/pexels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-attachment: fixed;
}

.index form {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input.form-control {
  margin-bottom: 5px;
}

#index-loaded-activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4px;
  margin: 12px 32px;
}

.activity {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 12px;
  transition: background-color 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.activity:hover {
  background-color: #eee;
}

.footer {
  background-color: green;
  border-top: 2px solid red;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
}

#show-page {
  background-image: url(/src/Assets/dancing.jpeg);
  background-size: cover;
  height: 100%;
  color: black;
}

#show-page-error-div {
  padding: 32px 0;
}

#show-page-error-div button {
  margin-top: 10px;
  border: solid 1px black;
  padding: 4px 6px;
  border-radius: 0;
  transition: border-radius 250ms;
}

#show-page-error-div button:hover {
  border-radius: 10px;
}

.show-data {
  background-color: rgba(211, 211, 211, .4);
}

.align-center {
  display: flex;
  align-items: center;
}