body {
  margin: 0;
  padding: 0;
 }

 #root {
  height: 100vh;
 }

 .App{
  color: #228b22;
  text-align: center;
  height: 100%;
 }

 .index {
  background-image: url(/public/pexels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: 50% 60% ;
 }

 .footer {
  background-color: green;
  border-top:2px solid red;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
 }

 .activity {
  color: rgb(12, 197, 243);

 }

 input.form-control {
  width: 73%;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 5px;
 }